@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;1,300&display=swap");
:root{
    --serif: "Ubuntu", serif;
    --monospace: "Ubuntu Mono", monospace;
    --bgTittleImage: url(images/backgroundImage.png);
    --bgTittleColor: #fd7f18;
    --fontColor: #ebebeb;
    --shadowFontColor: #ebebeb99;
    --bgColor: #312f2c;
}

* {
    margin: 0;
    padding: 0;
    font: var(--serif);
    color: var(--fontColor);
}

body {
    background-color: var(--bgColor);
    color: var(--fontColor);
}

header {
    padding: 1rem;
    background-color: var(--bgTittleColor);
    background-image: var(--bgTittleImage), var(--bgTittleImage);
    background-position: 0 0, 16px 16px;
    text-align: center;
    border-bottom: 1px solid black;
}

header>h1 {
    font-size: 3.5rem;
}

header>h3 {
    font-size: 1.5rem;
}

header>nav>ul>li {
    display: inline;
    padding: 0.2rem 0.75rem;
}

header>nav>ul>li>a {
    text-decoration: none;
}

header>nav>ul>li>a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
    font-size: larger;
    background-color: var(--bgColor);
}

main>div#LastUpdate {
    float: left;
    padding: 1rem;
}

main>div#TableOfContent {
    float: right;
    padding: 1rem;
}

main>div#TableOfContent>h2 {
    font-size: xx-large;
    margin: 1rem; 
}

main>section>h2 {
    background-color: var(--bgTittleColor);
    background-image: var(--bgTittleImage), var(--bgTittleImage);
    background-position: 0 0, 16px 16px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 0.5rem 3rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40%;
}

main>section>h2>a {
    font-size: x-large;
    text-decoration: none;
    color: var(--fontColor);
    text-shadow: 1px 1px 1px var(--shadowFontColor);
}

main>section>h2>a.anchor {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    float: right;
}

main>section>p {
    width: 30%;
    margin: auto;
    text-align: justify;
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main>section>div.img1 {
    margin: auto;
    width: 42%;
}

main>section>div.img1>img:nth-child(1) {
    margin: auto;
    width: 95%;
    padding: 2.5%;
}

main>section>div.img2 {
    float: none;
    margin: auto;
    width: 32%;
}

main>section>div.img2>img:nth-child(1) {
    float: left;
    margin: auto;
    width: 45%;
    padding: 2.5%;
}

main>section>div.img2>img:nth-child(2) {
    float: right;
    margin: auto;
    width: 45%;
    padding: 2.5%;
}